# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: r

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

install:
  - ./travis-tool.sh install_deps

script:
  - ./travis-tool.sh run_tests

after_failure:
  - ./travis-tool.sh dump_logs

#env:
#  - R_BUILD_ARGS="--no-manual --no-build-vignettes"

notifications:
  email:
    recipients:
      - mariodneg@googlemail.com
    on_success: change
    on_failure: change

sudo: required
